fastapi
uvicorn
python-multipart
pypdf
pdf2docx
img2pdf
reportlab
pdfplumber
pandas
openpyxl
aiofiles
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pikepdf
pdf2image
python-pptx
deep-translator
ocrmypdf
pytesseract
stripe
requests
google-generativeai
edge-tts
openai
anthropic
httpx
email-validator
google-cloud-storage
Pillow
